html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

/* クロスヘア */
#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: white;
  transform: translate(-50%, -50%);
}
