html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

/* クロスヘア */
#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}

#crosshair::before,
#crosshair::after {
  content: "";
  position: absolute;
  background: white;
}

#crosshair::before {
  width: 20px;
  height: 2px;
  top: 9px;
  left: 0;
}

#crosshair::after {
  width: 2px;
  height: 20px;
  left: 9px;
  top: 0;
}
